.numberCell{
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #243F85;
    font-weight: bold;
    font-size: 1.1rem!important;
    cursor: pointer;
}

.numberCellSelected{
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: #243F85;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.1rem!important;
    cursor: pointer;
}

.etoileNotSelected{
    font-size: 53px;
    color: #FFFFFF;
}

.etoileSelected{
    font-size: 53px;
    color: #FCB149;
}

.stars-flex{
    padding: 0 43px;
}

.stars-flex i{
    cursor: pointer;
}

.etoileNotSelected .textInside{
    position: absolute;
    font-size: 21px;
    font-weight: bold;
    color: #FCB149;
    cursor: pointer;
}

.etoileSelected .textInside{
    position: absolute;
    font-size: 21px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}
.informations{
    margin: 5px 0 15px 0 !important;
}
.miseTotaleContainer{
    padding: 0 43px;
    text-align: center;
}

.miseTotale{
    padding: 10px;
    color: #243F85;
    font-weight: bolder;
    border: 1px #243F85 solid;
}

.bouleDisabled{
    cursor: not-allowed;
    opacity: 0.6;
}

.etoileDisabled{
    cursor: not-allowed;
    opacity: 0.6;
}

.etoileDisabled .textInside{
    cursor: not-allowed;
}